{
	auto_https disable_redirects
}

:443 {
	tls internal

	@websocket {
		header Connection *Upgrade*
		header Upgrade websocket
	}

	reverse_proxy @websocket 127.0.0.1:{$METIDOS_PORT}
	reverse_proxy 127.0.0.1:{$METIDOS_PORT}
}
